st.termname:     st-256color

! Set to a non-zero value to disable window decorations (titlebar, etc) and go borderless.
st.borderless:        0

! --- The following options options can be reloaded via USR1 signal. ---
st.font:              UbuntuMono Nerd Font Mono:size=21:antialias=true:autohint=true;

! window padding
st.borderpx:          0

! Kerning / character bounding-box height multiplier
st.chscale:           1.0

! Kerning / character bounding-box width multiplier
st.cwscale:           1.0

*color0:               #212121
*color8:               #7f7f7f
*color1:               #A00000
*color9:               #FF0000
*color2:               #00A000
*color10:              #00FF00
*color3:               #A0A000
*color11:              #FFFF00
*color4:               #0000A0
*color12:              #5C5CFF
*color5:               #A000A0
*color13:              #FF00FF
*color6:               #00A0A0
*color14:              #00FFFF
*color7:               #C0C0C0
*color15:              #ffffff

