! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! --- These options only take effect on startup. ---
st.termname:     st-256color

! Set to a non-zero value to disable window decorations (titlebar, etc) and go borderless.
st.borderless:        0

! --- The following options options can be reloaded via USR1 signal. ---
st.font:              JetBrainsMono Nerd Font Mono:pixelsize=23:antialias=true:autohint=true;

! window padding
st.borderpx:          0

! Kerning / character bounding-box height multiplier
st.chscale:           1.0

! Kerning / character bounding-box width multiplier
st.cwscale:           1.0

st.foreground:   #ababab
st.background:   #000000
st.cursorColor:  #ababab

st.color0:       #000000
st.color8:       #343434

st.color1:       #e92f2f
st.color9:       #e92f2f

st.color2:       #0ed839
st.color10:      #0ed839

st.color3:       #dddd13
st.color11:      #dddd13

st.color4:       #3b48e3
st.color12:      #3b48e3

st.color5:       #f996e2
st.color13:      #f996e2

st.color6:       #23edda
st.color14:      #23edda

st.color7:       #ababab
st.color15:      #f9f9f9

